<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="google" value="notranslate">
  <title>Template</title>
  <base href="./">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="../shared/style.css" />
</head>

<body>
  <div>
    <canvas id="game"></canvas>
  </div>
  <input type="text" id="textInput" #textInput>
  <button onclick="Utils.RPGMessage(textInput.value)">Message</button>
  
  <!-- 其他全站用的工具 -->
  <script src="../shared/js/utils.js"></script>
  <script src="../shared/js/prototype_overrider.js"></script>
  <!-- 遊戲資源 -->
  <script src="resources.js"></script>
  <!-- 遊戲主體 -->
  <script src="../shared/js/game.js"></script>
  <script src="../shared/js/game_sprite.js"></script>
  <!-- 插件 -->
  <!-- 遊戲物件 -->
  <!-- 可切換的場景 -->
  <script src="../shared/js/scene.js"></script>
  <script src="scene/scene_play.js"></script>
  <!-- 遊戲進入點 -->
  <script src="main.js"></script>

</body>