@font-face {
  font-family: "PressStart2P";
  src: url(PressStart2P.ttf) format("truetype"), url(PressStart2P.woff) format("woff");
}

body {
  text-align: center;
}

canvas {
  cursor: url('../shared/cursor.png'), auto;
}